/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: #050b10;
    color: #ffffff;
    text-align: center;
}

/* HERO */
.hero {
    padding: 40px 20px;
    background: radial-gradient(circle at top, #0f2027, #000000);
}

.hero-img {
    width: 240px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 38px;
    color: #5cff8d;
    margin-bottom: 5px;
}

.slogan {
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

/* BOTÓN WHATSAPP */
.btn-whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: #000;
    padding: 14px 26px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* PRODUCTO */
.product {
    padding: 40px 20px;
}

.product-img {
    width: 220px;
    margin-bottom: 20px;
}

.product h2 {
    margin-bottom: 10px;
}

.price {
    font-size: 26px;
    color: #5cff8d;
    margin-bottom: 20px;
}

/* BOTÓN PRINCIPAL */
.btn-primary {
    background-color: #5cff8d;
    border: none;
    padding: 14px 30px;
    border-radius: 25px;
    fon
