* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #050b10;
    color: #ffffff;
    text-align: center;
}

/* HERO */
.hero {
    padding: 40px 20px;
    background: radial-gradient(circle, #0f2027, #000);
}

.hero-img {
    max-width: 250px;
}

.hero h1 {
    font-size: 36px;
    color: #5cff8d;
}

.hero p {
    margin: 10px 0 20px;
    letter-spacing: 2px;
}

.btn-whatsapp {
    background: #25D366;
    color: #000;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

/* PRODUCT */
.product {
    padding: 40px 20px;
}

.product img {
    width: 220px;
}

.product h2 {
    margin: 15px 0;
}

.price {
    color: #5cff8d;
    font-size: 24px;
    margin-bottom: 15px;
}

.btn {
    background: #5cff8d;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

/* FEATURES */
.features {
    padding: 40px 20px;
    background: #0a141a;
}

.features-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.feature {
    width: 150px;
}

.feature img {
    width: 50px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    padding: 15px;
    background: #000;
    font-size: 14px;
}
